@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
body {
	background-color: red;
	background-image: url(../images/architectural-design-architecture-ceiling-380768.jpg);
	background-size: cover;
}
h1 {
	text-align: left;
  	font-family: 'EB Garamond',serif;
  	font-size: 24px;
	line-height: .5em;
	margin: 1em;
  	} 

p {
  	font-family: georgia;    
	font-size: 20px;
	line-height: 1.0em;
	margin: 2em;

img {
	width: 100%;
}